<div class="container">
  <app-dictionary></app-dictionary>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link link" routerLink="/" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Applications
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item link" routerLink="timelines">Ứng dụng tính thời gian</a>
            <a class="dropdown-item link" routerLink="youtube">Youtube</a>
            <a class="dropdown-item link" routerLink="dictionary">Dictionary</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <app-img-slider>
    <app-img-slide>
      <img src="https://via.placeholder.com/1280x420/e91e63/ffffff?text=1" alt="">
    </app-img-slide>
    <app-img-slide>
      <img src="https://via.placeholder.com/1280x420/e91e63/ffffff?text=2" alt="">
    </app-img-slide>
    <app-img-slide>
      <img src="https://via.placeholder.com/1280x420/e91e63/ffffff?text=3" alt="">
    </app-img-slide>
    <app-img-slide>
      <img src="https://via.placeholder.com/1280x420/e91e63/ffffff?text=4" alt="">
    </app-img-slide>
  </app-img-slider>
  <app-image-gallery></app-image-gallery>
  <router-outlet></router-outlet>
</div>



